html,
body {
  height: 100%;
  margin: 0;
  font-family: sans-serif, "Times New Roman", Times, serif;
}

.container {
  display: flex;

  height: 100%;
}

.left {
  background: url(image/snow.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100%;
  width: 35%;
}
.right {
  width: 65%;
}
.top {
  height: 30%;
  background-color: #93e7fb;
  overflow: auto;
}

.top p {
  margin: 0;
  padding: 60px 30vw 20px 30px;
}

.middle {
  height: 40%;
  background-color: #c0f6fb;
  overflow: auto;
}

.middle h4 {
  margin: 0;
  padding: 20px 30px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100px;
}

.grid input {
  margin: 5px 30px;

  width: 200px;
}

.grid label {
  margin-left: 30px;
}

.bottom {
  padding: 10px 30px 0px 30px;
}

.bottom button {
  border-radius: 5px;
  padding: 5px;
}

input:focus {
  box-shadow: 3px 3px 3px 1px #888888;
}

/* input[type="password"]:focus {
  border-color: 4px red;
} */
